<nav>
  <h2 class="site-title"><a href="/">Aliza Khan</a></h2>
  <ul>
    <li><span class="icon">🏠</span><a href="/about/">About Me!</a></li>
    <li><span class="icon">🎓</span><a href="/education/">Education</a></li>
    <li><span class="icon">💼</span><a href="/work-experience/">Work Experience</a></li>
    <li><span class="icon">🤝</span><a href="/clubs/">Clubs & Volunteering</a></li>
    <li><span class="icon">🛠️</span><a href="/skills/">Skills</a></li>
    <li><span class="icon">📂</span><a href="/projects/">Projects</a></li>
    <li><span class="icon">🎨</span><a href="/showcase/">Media & Design Showcase</a></li>
    <li><span class="icon">🏆</span><a href="/competition/">Competition</a></li>
    <li><span class="icon">📓</span><a href="/log/">Log</a></li>
    <li><span class="icon">📧</span><a href="/contact/">Contact me!</a></li>
  </ul>
</nav>
