<nav>
  <h2 class="site-title"><a href="/">Aliza Khan</a></h2>
  <ul>
    <li>- <a href="/about/">About Me!</a></li>
    <li>- <a href="/education/">Education</a></li>
    <li>- <a href="/work-experience/">Work Experience</a></li>
    <li>- <a href="/clubs/">Clubs & Volunteering</a></li>
    <li>- <a href="/skills/">Skills</a></li>
    <li>- <a href="/projects/">Projects</a></li>
    <li>- <a href="/showcase/">Media & Design Showcase</a></li>
    <li>- <a href="/competition/">Competition</a></li>
    <li>- <a href="/log/">Log</a></li>
    <li>- <a href="/contact/">Contact me!</a></li>
  </ul>
</nav>
