body {
  font-family: 'Poppins', sans-serif;
}
.site-title a {
  font-size: 1.8em;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.sidebar li {
  display: flex;
  align-items: center;
}
.sidebar li .icon {
  margin-right: 8px;
}
